.tetris {
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__reset {
    max-width: 180px;
    margin: 0 auto;
  }

  &__playzone {
    overflow: hidden;
    width: 450px;
    height: 600px;
    position: relative;
    top: calc((100% - 400px) / 2);
    left: calc((100% - 450px) / 2);
    background-color: #f5f3ff;
  }

  &__text {
    color: #6e61b6;
    font-size: 30px
  }

  &__points {
    position: absolute;
    top: 32px;
    left: 50%;
    transform: translateX(-50%)
  }
}