.tetris {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  &__reset {
    max-width: 180px;
  }

  &__playzone {
    overflow: hidden;
    width: 450px;
    height: 600px;
    position: relative;
    top: calc((100% - 400px) / 2);
    left: calc((100% - 450px) / 2);
    background-color: #f5f3ff;
  }

  &__fake-playzone {
    overflow: hidden;
    width: 450px;
    height: 600px;
    position: absolute;
    z-index: 2;
    top: calc((100% - 600px) / 2);
    left: calc((100% - 450px) / 2);
    background-color: transparent;
  }

  &__text {
    margin-top: 8px;
    color: #6e61b6;
    font-size: 1.8em;
  }

  &__points {
    display: flex;
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }
}

.tetris__fake-playzone {
  transition: all .5s;
  opacity: 0;

  @media screen and (max-width: 840px) {
    opacity: .8;
  }

  .tetris__rot-up {
    height: 25%;
    background-color: #302ea042;
  }

  .tetris__middle {
    display: flex;
    height: 60%;
    width: 100%;
  }

  .tetris__left {
    height: 100%;
    width: 40%;
    background: url(../../assets/tetris-mobile/left.svg) no-repeat right;
    background-size: 100px;
    background-color: rgba(49, 169, 85, 0.4);
  }

  .tetris__rot-middle {
    height: 100%;
    width: 50%;
    background: url(../../assets/tetris-mobile/rotate.svg) no-repeat center;
    background-size: 100px;
    background-color: #302ea042;
  }

  .tetris__right {
    height: 100%;
    width: 40%;
    background: url(../../assets/tetris-mobile/right.svg) no-repeat center;
    background-size: 100px;
    background-color: rgba(210, 168, 41, 0.4);
  }

  .tetris__down {
    height: 20%;
    width: 100%;
    background: url(../../assets/tetris-mobile/down.svg) no-repeat top;
    background-size: 100px;
    background-color: rgba(145, 38, 136, 0.4);
  }

  // .tetris__fake-playzone_hide
  &_hide {
    opacity: 0;
  }
}

@media screen and ((max-width: 500px) or (max-height: 820px)) {
  .tetris__playzone {
    top: 0;
    transform: scale(.9);
  }

  .tetris__points {
    max-width: 405px;
  }
}

@media screen and ((max-width: 460px) or (max-height: 700px)) {
  .tetris__playzone {
    top: -40px;
    margin-bottom: -80px;
    transform: scale(.8);
  }

  .tetris__points {
    max-width: 360px;
  }
}

@media screen and ((max-width: 400px) or (max-height: 640px)) {
  .tetris__playzone {
    top: -80px;
    margin-bottom: -150px;
    transform: scale(.7);
  }

  .tetris__points {
    max-width: 315px;
  }
  .tetris__reset {
    max-width: 180px;
    font-size: 0.9em;
  }
  .tetris__text {
    margin-top: 8px;
    color: #6e61b6;
    font-size: 1.3em;
  }
}

@media screen and ((max-width: 360px) or (max-height: 575px)) {
  .tetris__playzone {
    top: -110px;
    margin-bottom: -220px;
    transform: scale(.57);
  }

  .tetris__points {
    max-width: 256px;
  }
  .tetris__reset {
    max-width: 190px;
    font-size: 0.8em;
  }
  .tetris__text {
    margin-top: 8px;
    color: #6e61b6;
    font-size: 1em;
  }
}