.user {
  display: flex;
  align-items: center;
  gap: 10px;

  &__image {
    width: 50px;
    height: 50px;
  }

  &__text {
    font-family: 'Ceviche One', cursive;
    font-size: 36px;
    font-weight: 600;
    color: #4f4c6b;
  }
}

@media screen and (max-width: 640px) {
  .user {
    &__image {
      width: 38px;
      height: 38px;
    }
  
    &__text {
      font-size: 30px;
    }
  }
}

@media screen and (max-width: 480px) {
  .user {
    flex-direction: column;
    gap: 2px;

    &__image {
      width: 18px;
      height: 18px;
      margin-bottom: -8px;
    }
  
    &__text {
      font-size: 26px;
      margin: 0;
    }

    button {
      padding: 2px 12px;
      font-size: .9em;
      background: none;
      color: #4f4496;
    }
  }
}