.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__photo {
    width: 40%;
  }

  &__main-text {
    margin-top: 20px;
    font-size: 84px;
    text-align: center;
    line-height: 0.75;
    font-family: 'Ceviche One', cursive;
    font-weight: 600;
    color: #4f4c6b;
  }

  &__secondary-text {
    text-align: center;
    margin-top: 60px;
    max-width: 50%;
    font-size: 20px;
    font-weight: 400;
    color: #4f4c6b;
    opacity: 0.7;
  }

  &__button {
    margin: 40px 0;
    min-width: 200px;
  }
}

.dark-theme{
  .main-page__main-text{
    color: wheat;
  }
  .main-page__secondary-text{
    color: wheat;
  }
}