.main {
    border: 1px solid orangered;
    width: 100%;
    padding: 30px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    &_item {
     display: flex;
     justify-content: space-between;
     width: 100%;
     padding: 10px;
     &:hover{
        background-color: rgba(255, 68, 0, 0.459);
        cursor: pointer;
     }
    }
}