.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  box-shadow: 0 5px 5px -5px #f6e7ea;

  &__content {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__theme {
    width: 40px;
    cursor: pointer;

    &:hover {
      opacity: 0.85;
    }
  }
}