@keyframes change1{
    from{
        transform: translate(0px);
    }
    to{
        transform: translate(-30px);
    }
}
@keyframes change2{
    from{
        transform: translate(0px);
    }
    to{
        transform: translate(25px);
    }
}
@keyframes change3{
    from{
        transform: translate(30px);
    }
    to{
        transform: translate(0px);
    }
}
@keyframes change4{
    from{
        transform: translate(-30px);
    }
    to{
        transform: translate(0px);
    }
}
.main{
    display: flex;
    gap: 5px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    padding: 5px;
    background-image: linear-gradient(to right, #667eea, #764ba2);
    border-radius: 20px;
    align-items: center;
    font-family: 'Ceviche One', cursive;
    cursor: pointer;
    &:hover{
        box-shadow: 0 0 5px 0 #764ba2 inset, 0 0 5px 2px #667eea;
    }
    &__icon{
        width: 26px;
        height: 26px;
        animation: change3 0.4s ease-in-out ;
        animation-fill-mode:forwards;
        z-index: 3;
    }
    &__text{
        animation: change4 0.4s ease-in-out ;
        animation-fill-mode:forwards;
    }
}
.animate1{
    animation: change1 0.4s ease-in-out ;
    animation-fill-mode:forwards
}
.animate2{
    width: 26px;
    height: 26px;
    animation: change2 0.4s ease-in-out ;
    animation-fill-mode:forwards
}