.main{
    width: 100%;
    padding: 30px 30px 85px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    background: linear-gradient(
            180deg, 
            rgba(255, 255, 255, 0) 0%,
            rgba(118, 75, 162, 0.565) 83%, 
            rgba(102, 126, 234, 0.86) 100% 
        );

    &_gamelist{
        display: flex;
        gap: 20px;
    }
    &_gameitem{
        padding: 20px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border: 1px solid #764ba2;
        background: linear-gradient(
            180deg, 
            rgba(255, 255, 255, 0) 0%,
            rgba(118, 75, 162, 0.565) 83%, 
            rgba(102, 126, 234, 0.86) 100% 
        );
        p{
            font-weight: bold;
        }
        &:hover{
         cursor: pointer;
        background: linear-gradient(
                30deg,
                rgba(213, 65, 11, 0.661) 0%,
                rgba(218, 118, 12, 0.459) 100%,
            );
        }
    }
   
    &_name{
        text-align: center;
        font-size: 30px;
        font-family: 'Ceviche One', cursive;
    }
    &__user{
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: space-between;
        p{
            width: 140px;
            font-weight: bold;
        }
    }
    &__list{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    &__admin{
        width: 100%;
       
    }
}