.board{
    font-family: 'Ceviche One', cursive;
    display: flex;
    width: 302px;
    flex-wrap: wrap;
    border: 1px solid teal;
    background-image: url('../../assets/seaBattle/sea.jfif');
    background-size: cover;
}
.can_shoot{
    box-shadow: 0 0 5px 6px green;
}
.letters{
    font-family: 'Ceviche One', cursive;
    margin-left: 31px;
    display: flex;
    width: 302px;
    &_item{
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.horizontal{
    display: flex;
}
.numbers{
    font-family: 'Ceviche One', cursive;
    &_item{
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}