.board{
    display: flex;
    width: 302px;
    flex-wrap: wrap;
    border: 1px solid teal;
    background-image: url('../../assets/seaBattle/sea.jfif');
    background-size: cover;
}
.can_shoot{
    box-shadow: 0 0 5px 6px green;
}