#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cards-conteiner{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 600px;
}
.card{
  border: 1px solid teal;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100px;
  height: 200px;
  position: relative;
  transition: 0.6s;
  &__face{
    transform: rotateY(180deg);
    position: absolute;
    z-index: -1;
  }
  &__shirt{
    border-radius: 15px;
    position: absolute;
    padding: 10px;
    width: 100px;
    height: 200px;
    background-color: bisque;
  }
}
.card-open{
  transform: rotateY(180deg);
  &__face{
    z-index: 2;
    transform: rotateY(180deg);
  }
  &__shirt{
    background-color: none;
  }
}
.modal-window{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 128, 128, 0.295);
  &__main{
    padding: 20px;
    background-color: teal;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
