.logo {
  display: flex;
  align-items: center;
  gap: 10px;

  &__image {
    width: 60px;
    height: 60px;
  }

  &__text {
    font-family: 'Ceviche One', cursive;
    font-size: 36px;
    font-weight: 600;
    color: #7e6dd1;
  }
}